
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6; /* Cinza bem claro para o fundo */
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
}
